/* General */
@import './index.scss';

/* Libraries */
@import '../libraries/dragAndDrop/styles.scss';

/* Components */
@import '../components/PageLayout/styles.scss';
@import '../components/Header/styles.scss';
@import '../components/LeftSideMenu/styles.scss';
@import '../components/Projects/styles.scss';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: $color-base;
  padding: 0px;
  overflow-x: hidden;
  color: $color-grey-dark;
  font-family: $font-base;
  font-size: 12px;
}
