@import './index.scss';
@import '../components/PageLayout/styles.scss';
@import '../components/PageHeader/styles.scss';

html,
body {
  color: $body-color;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
