.page-content-wrapper {
  width: 100%;
  height: calc(100vh - 130px);
  padding: 30px 45px;
}

.page-content-inner-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
  grid-gap: 15px;
  width: 100%;
  height: calc(100vh - 130px);
}

/* Children */
.content-item {
  display: flex;
  background-color: $color-grey;
  border-radius: 10px;
  cursor: move;
}
