.left-side-menu-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: calc(100vh - 130px);
  border-right: 1px solid $color-grey;
  padding: 30px;

  :not(:last-child) {
    margin-bottom: 20px;
  }
}
