.left-side-menu-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: calc(100vh - 130px);
  border-right: 1px solid $color-grey;
  padding: 30px;

  :not(:last-child) {
    margin-bottom: 20px;
  }

  // TODO: Move to the related component
  .left-side-menu-item {
    display: flex;
    align-items: center;
    width: 240px;
    height: 30px;
    border: 1px solid $color-grey;
    border-radius: 32px;
    padding: 0 15px;
    cursor: pointer;

    .left-side-menu-item-label {
      // TODO: TBD
    }
  }
}
